CREATE TABLE prempy (
	cempno char (10)  NOT NULL ,
	cfname char (20)  NOT NULL ,
	clname char (20)  NOT NULL ,
	cinitial char (2)  NOT NULL ,
	cssn char (15)  NULL ,
	cdeptno char (10)  NOT NULL ,
	cstatus char (1)  NOT NULL ,
	cfedid char (15)  NULL ,
	caddr1 char (40)  NOT NULL ,
	caddr2 char (40)  NOT NULL ,
	ccity char (20)  NOT NULL ,
	cstate char (2)  NOT NULL ,
	czip char (10)  NOT NULL ,
	cphone char (20)  NOT NULL ,
	cjobtitle char (10)  NOT NULL ,
	csex char (1)  NOT NULL ,
	ccitizen char (1)  NOT NULL ,
	ceeoid char (1)  NOT NULL ,
	cethniccd char (1)  NOT NULL ,
	cpaytype char (2)  NOT NULL ,
	cpayperiod char (2)  NOT NULL ,
	cmarry char (1)  NOT NULL ,
	cmtype char (1)  NOT NULL ,
	ceicstatus char (1)  NOT NULL ,
	ctaxstate char (2)  NOT NULL ,
	csutastate char (2)  NOT NULL ,
	cltaxstate char (2)  NOT NULL ,
	cltaxcd char (3)  NOT NULL ,
	capplycd char (10)  NOT NULL ,
	cprenote char (1)  NOT NULL ,
	cw2year char (4)  NOT NULL ,
	dhire datetime NULL ,
	dterminate datetime NULL ,
	dbirth datetime NULL ,
	deff datetime NULL ,
	dnextpf datetime NULL ,
	dnextsal datetime NULL ,
	dlastpaid datetime NULL ,
	dprenote datetime NULL ,
	lallowot smallint NULL ,
	lepayment smallint NULL ,
	lusetips smallint NULL ,
	lfica smallint NULL ,
	lmedi smallint NULL ,
	lfuta smallint NULL ,
	lsuta smallint NULL ,
	lsdi smallint NULL ,
	leic smallint NULL ,
	lftax smallint NULL ,
	lstax smallint NULL ,
	lsres smallint NULL ,
	lltax smallint NULL ,
	llres smallint NULL ,
	lapply smallint NULL ,
	nbpayrate numeric(16, 4) NOT NULL ,
	napayrate numeric(16, 4) NOT NULL ,
	nrhr numeric(8, 2) NOT NULL ,
	nafwt numeric(16, 2) NOT NULL ,
	nfallow numeric(2, 0) NOT NULL ,
	naswt numeric(16, 2) NOT NULL ,
	nsallow numeric(2, 0) NOT NULL ,
	nalwt numeric(16, 2) NOT NULL ,
	csrcid char (10)  NOT NULL ,
	cplnid char (10)  NOT NULL ,
	cshfid char (10)  NOT NULL ,
	cmsc1id char (10)  NOT NULL ,
	cmsc2id char (10)  NOT NULL ,
	cmsc3id char (10)  NOT NULL ,
	cmsc4id char (10)  NOT NULL ,
	cmsc5id char (10)  NOT NULL ,
	csegid1 char (10)  NOT NULL ,
	csegid2 char (10)  NOT NULL ,
	csegid3 char (10)  NOT NULL ,
	csegid4 char (10)  NOT NULL ,
	csegid5 char (10)  NOT NULL ,
	lPaySlip smallint NOT NULL ,
	ccustno char (10)  NOT NULL ,
	cdayoff char (1)  NOT NULL ,
	cbatchid char (10)  NOT NULL ,
	nmonthpay numeric(16, 2) NOT NULL ,
	nlstmthpay numeric(16, 2) NOT NULL ,
	ltemporal smallint NOT NULL ,
	nfixover numeric(16, 2) NOT NULL ,
	crtn char (15)  NOT NULL ,
	dcntrct datetime NULL ,
	laddtax1 smallint NOT NULL ,
	laddtax2 smallint NOT NULL ,
	laddtax3 smallint NOT NULL ,
	ltax11mth smallint NOT NULL 
)
